page-renungan-baca-details {

    img{
        width: 100%;
        height: auto;
        background-color: black;
    }

    p{
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 5%;
        font-size: 16px;
    }

    h1{
        color: black;
        text-align: center;
    }

    .text-block{
        background-color: black;
    }
}
